*.dll
*.pyc
LLM/api_keys.py
Snake/Library/
Snake/Packages/
Snake/Logs/
Snake/Temp/
Snake/SnakeGameLog_*.txt
results/firstTrainingRun/
results/secondTrainingRun/
results/thirdTrainingRun/
results/fourthTrainingRun/
results/fifthTrainingRun/
results/sixthTrainingRun/
.venv/